<ul id="main_nav" class="flex list_style_none">
    <li><a  href="/">Home</a></li>
    <li><a  href="/add_pictures">Add pictures</a></li>
    <li><a  href="/gallery">Gallery</a></li>
    <li><a  href="/users">Users</a></li>
    <li><a  href="/about">About</a></li>
</ul>