* {
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}
#main_nav{
  width: 40%;
  justify-content: space-between;
  margin: 30px auto;
  font-size: 1.3em;
  font-weight: bold;
}

#user_info{
  margin-top: 20px;
  width: 310px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.71);
  padding: 10px;
  border-radius: 2px;
}
#user_info>li
{
  width: 280px;
  padding: 5px;
  background: rgba(95, 158, 160, 0.8);
  border-radius: 2px;
  margin: 5px;
  transition: margin-left 0.2s linear;
}
#user_info>li:hover{
  margin-left: 20px;
  cursor: pointer;
}
#all_users{
  padding: 10px;
  border: 1px solid rgba(16, 160, 133, 0.71);
  border-radius: 3px;
  margin-left: 50px;
  width: 280px;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}
#all_users>ul{
  width: 100%;
}
#all_users li{
  margin: 5px auto;
  width: 90%;
  padding: 5px;
  background: rgba(16, 160, 133, 0.7);
  border-radius: 3px;
}
#add_pic_buton{
  margin-top: 10px;
  float: right;
}



